body{
    background-color: black;
}
#nome{
    color: red;
}
.habilidades{
    color: palevioletred;
}
.lista{
    
}
.Contato{
    color: palevioletred;
}
.RedesSociais{
    color: palevioletred;
}
li{
    color: hotpink;
}
p{
    color:hotpink;
}